*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
li,ol{
    list-style:none;
}
.header{
    height:30px;
    background:#e3e4e5;
    border-top:1px solid #b6b4b6;
    border-bottom:1px solid #ddd;
}
.header1{
    width:1190px;
    height:30px;
    margin:0 auto;
    line-height:30px;
    font-size:12px;
    color:#999;
}
.header1 a{
    color:#999;
}
.header1 img{
    margin-left:8px;
    margin-right:2px;
    vertical-align:middle;
    margin-top:-2px;
}
.header1 ul{
    float:right;
}
.header1 ul li{
    display:inline;
    padding:0 10px;
}
.header1 ul span{
    font-size:10px;
    color:#ccc;
}
.header1 ul li:first-child{
    padding-left:0;
    color:#f10215;
}
.header1 ul li:last-child{
    padding-right:0;
}
.header1 ul li a{
    display:inline-block;
    width:75px;
    height:29px;
    text-align:center;
    line-height:29px;
    border:1px solid #e3e4e5;
    border-bottom:none;
}