<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= goods_list %></title> -->
    <!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
    <!-- <script src="/javascripts/index.js"></script> -->
    <link rel="stylesheet" href="stylesheets/header.css">
  </head>
  <body>
      <div class="header">
        <div class="header1">
            <a>
                <img src="" alt="">北京
            </a>
            <span>您好，请登录</span>
            <ul>
                <a href="">免费注册</a>
                <a href="">免费注册</a>
                <a href="">免费注册<span>&or;</span></a>
                <a href="">免费注册</a>
                <a href="">免费注册<span>&or;</span></a>
                <a href="">免费注册<span>&or;</span></a>
                <a href="">免费注册<span>&or;</span></a>
                <a href="">免费注册</a>
            </ul>
        </div>

      </div>
  </body>
</html>